@font-face {
  font-family: 'Now Light';
  font-style: normal;
  font-weight: normal;
  src: local('Now Light'), url('./fonts/Now-Light.woff') format('woff');
}

@font-face {
  font-family: 'Now Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Now Regular'), url('./fonts/Now-Regular.woff') format('woff');
}

:root {
  --light-gray: #D9D9D9;
  --gray: #929292;
  --dark-gray: #26353E;

  --s-margin: 1rem;
  --m-margin: 2rem;
  --b-margin: 3rem;

  --main-font: "Now Light", sans-serif;

  --text-0-size: 1.125rem;
  --text-1-size: 0.875rem;
  --text-2-size: 0.75rem;
  --text-3-size: 0.625rem;
  --text-4-size: 0.569rem;
  --text-5-size: 0.5rem;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

a,
.nav a,
.footer-link {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: var(--dark-gray);
  transition: color 0.3s;
  width: 50px;
  font-family: var(--main-font);
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  width: max-content;
}

.footer-link{
    transition: color 0.4s;
}

a:hover,
.nav a:hover{
  color: var(--gray);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--light-gray);
  background: none;
  text-decoration: none;
}

a:active,
.nav a:active,
.footer-link:active {
  color: black;
}

body {
  font-family: var(--main-font);
  margin: 0;
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--gray);
  text-decoration: underline;
}

a:visited {
  color: var(--dark-gray); /* lub inny kolor, jeśli chcesz */
}

a:active {
  color: black;
}


.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--dark-gray);
  font-family: var(--main-font);
}

.header-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  padding-left: var(--m-margin);
  font-size: 16px;
}

.nav {
  padding-right: var(--m-margin);
}

.nav a {
  color: var(--dark-gray);
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  font-family: var(--main-font);
}

.lang-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: var(--dark-gray);
  transition: color 0.3s;
  width: 50px;
  font-family: var(--main-font);
}

.lang-toggle:hover {
  color: var(--gray);
}

.movie-bottom {
  background-color: var(--light-gray);
  font-family: var(--main-font);
  font-size: 10px;
  padding-bottom: var(--m-margin);
}

.site-wrap {
  display: flex;
  max-width: 1024px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 var(--m-margin);
}

.movie-left {
  text-align: left;
  padding-right: var(--m-margin);
  width: 50%;
}

.movie-right {
  width: 50%;
  min-width: 250px;
}

.movie-subtitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  line-height: 1.4;
}

.movie-description {
  text-align: justify;
  margin: 0;
  font-family: var(--main-font);
  font-size: 11px;
  line-height: 1.4;
}

.movie-title {
  font-family: "Now Regular";
  font-size: 32px;
}

.movie-awards {
  font-size: 11px;
  font-family: var(--main-font);
  line-height: 1.4;
}

.movie-award {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-award-icon {
  height: 20px;
}

.movie-subtitle {
  margin: 0;
  font-family: var(--main-font);
}

.bio {
  min-height: 50vh;
  padding: 10vh var(--m-margin);
  justify-content: space-between;
}

.bio-photo {
  height: 100%;
  max-width: 100%;
  padding-right: var(--m-margin);
}

.bio-photo-img {
  height: 30vh;
}

.bio-text {
  width: 50%;
  text-align: justify;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.4;
}

.footer {
  height: 50vh;
  background-color: var(--gray);
  color: white;
  font-family: var(--main-font);
}

.footer-wrap {
  justify-content: space-around;
  height: 100%;
}

.footer-up-left,
.footer-up-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--s-margin);
}

.footer-up-left p {
  margin: 0;
}

.footer-link {
  display: block;
}



.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr {
  width: 100%;
}

.btn-left,
.btn-right {
  font-size: 40px;
  position: absolute;
  background: none;
  border: none;
  color: white;
  z-index: 10;
  top: calc(50% - 18px);
  cursor: pointer;
  font-family: var(--main-font);
}

.btn-left {
  left: var(--m-margin);
}

.btn-right {
  right: var(--m-margin);
}

.movie-slider {
  display: flex;
  position: relative;
  height: 70vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 2s;
}

.infinity {
  transition: transform 0s;
}

.slide {
  width: 1024px;
  min-width: 680px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media screen and (max-width: 680px) {
  .movie-left {
    width: 100%;
    padding: 0;
  }

  .movie-right {
    width: 100%;
  }

  .movie-award-title {
    margin: 5px 0;
  }

  .movie-subtitles,
  .movie-awards {
    padding-bottom: var(--s-margin);
  }

  .bio-text {
    width: 100%;
  }

  .footer-up-right {
    text-align: right;
  }

  .slide {
    width: 680px;
  }
}
